[submodule "audioseal"]
	path = audioseal
	url = https://github.com/facebookresearch/audioseal
[submodule "wavmark"]
	path = wavmark
	url = https://github.com/wavmark/wavmark
[submodule "TimbreWatermarking-ReadyToTrain"]
	path = TimbreWatermarking-ReadyToTrain
	url = https://github.com/i-618/TimbreWatermarking-ReadyToTrain
